anthropic
backoff
Django
django-cors-headers
djangorestframework
drf_yasg
dspy
duckduckgo_search
easyocr
fastapi
ffmpeg
PyMuPDF
google_api_python_client
httpx
imagehash
langchain_huggingface
langchain_qdrant
langchain_text_splitters
litellm
numpy
open-clip-torch
openai
pandas
Pillow
protobuf
pydantic
pydantic_settings
pytesseract
python-dotenv
python-magic
pytz
qdrant_client
rank_bm25
redis
regex
Requests
rq
scikit_learn
sentence_transformers
toml
torch
tqdm
trafilatura
transformers
ujson
uvicorn
whisper
yt_dlp
celery
aiofiles