aiofiles>=23.2.1
anthropic
backoff
diskcache
Django
django-cors-headers
djangorestframework
drf_yasg
dspy_ai==2.4.9
duckduckgo_search
easyocr
fastapi
ffmpeg
ffmpeg-python
PyMuPDF
google-generativeai
google_api_python_client
httpx
imagehash
langchain_huggingface
langchain_qdrant
langchain_text_splitters
litellm==1.59.3
numpy
open-clip-torch
openai
pandas
Pillow
protobuf
pydantic
pydantic_settings
pytesseract
python-dotenv
python-magic
pytz
qdrant_client
rank_bm25
redis
regex
Requests
rq
scikit_learn
sentence_transformers
tabulate
tavily-python
toml
torch
tqdm
trafilatura
transformers
ujson
uvicorn
whisper
faster-whisper
wikipedia==1.4.0
yt_dlp
celery
langchain_community
langchain-openai
faiss-cpu
crawl4ai